<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>All About The Buckets</title>
  {% load staticfiles %}
  {% load Workouts_tags_filters %}
  <link rel="stylesheet" type="text/css" href="{% static 'workouts/CSS/styles.css' %}"/>
  <link rel="stylesheet" href="{% static 'workouts/CSS/Bootstrap/css/bootstrap.min.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
  {% block body %}
  
  {% endblock %}
</body>
